@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}

:root {
    --dropdown-placeholder: "Select an option";
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: 16px;
}

body {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: 'Pretendard', sans-serif;
}

input:focus,
input:hover {
    outline: none;
}

textarea {
    overflow: auto
}

/* **************************************** *
 * Common
 * **************************************** */
.common-wrap .header {
    align-items: center;
    background: #2C478E;
    display: flex;
    height: 60px;
    padding: 0 20px;
}

.common-wrap .header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.common-body {
    display: flex;
    flex-direction: row;
}

.common-body aside {
    background: #F4F5F7;
    height: auto;
    padding: 20px;
    width: 200px;
}

.common-body aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common-body aside ul li a {
    color: #333;
    font-size: 16px;
}

.common-element {
    padding: 20px;
    width: calc(100% - 200px);
}

.common-element table {
    margin: 0 0 20px 0;
    width: 100%;
}

.common-element tr:nth-child(1) {
    height: 40px;
}

.common-element tr td {
    font-size: 14px;
}

.common-element tr td:nth-child(1) {
    width: 100px;
}

.b-0 {
    border: 0 !important;
}

.p-none {
    padding: 0 !important;
}

/* **************************************** *
 * Background-color
 * **************************************** */
.bg-gray {
    background: #F4F5F7;
}

.bg-sky {
    background: #EBEBF1;
}

/* **************************************** *
 * Button
 * **************************************** */
button {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    transition: .5s all;
}

button:hover,
button:focus {
    transition: .5s all;
}

.ss-btn-group {
    align-items: center;
    display: flex;
    gap: 8px;
}

.ss-btn-group>button {
    flex: 0 0 auto;
}

.ss-btn-group.flex-end {
    justify-content: flex-end;
}

.btn {
    border: 0;
    border-radius: 6px;
}

.btn.flex {
    display: flex;
    gap: 4px;
}

.btn-r {
    border: 0;
    border-radius: 100px;
}

.btn-mini {
    height: 24px;
    padding: 0 8px;
}

.btn-sm {
    height: 32px;
    padding: 0 16px;
}

.btn-md {
    height: 40px;
    padding: 0 16px;
}

.btn-lg {
    height: 56px;
    padding: 0 16px;
}

.btn-primary {
    background: #2C478E;
    color: #ffffff;
}

.btn-primary:hover {
    background: #3B5AAB;
}

.btn-primary:active {
    background: #1F3A81;
}

.btn-primary:focus {
    background: #1F3A81;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1F3A81;
    outline: none;
}

.btn-primary:disabled {
    border: 1px solid #D0D1D8;
    background: #EBEBF1;
}

.btn-gray {
    background: #666666;
    color: #ffffff;
}

.btn-gray:hover,
.btn-gray:focus {
    background: #444444;
}

.btn-gray:disabled {
    background: #eeeeee;
}

.btn-outline-primary {
    background: #ffffff !important;
    border: 1px solid #3B5AAB !important;
    color: #2C478E !important;
}

.btn-outline-primary:hover {
    background: #F2F6FB;
    border: 1px solid #3B5AAB;
    color: #3B5AAB;
}

.btn-outline-primary:active {
    background: #E5ECF6;
    border: 1px solid #3B5AAB;
    color: #3B5AAB;
    outline: none;
}

.btn-outline-primary:focus {
    background: #fff;
    color: #2C478E;
    box-shadow: 0 0 0 2px #3B5AAB, 0 0 0 4px #1F3A81;
    outline: none;
}

.btn-outline-primary:disabled {
    border: 1px solid #D0D1D8;
    background: #EBEBF1;
}

.btn-outline-gray {
    background: #ffffff;
    border: 1px solid #D0D1D8 !important;
    color: #38393F !important;
}

.btn-outline-gray:hover {
    background: #F6F6F9;
    border-color: #D0D1D8;
    color: #38393F;
}

.btn-outline-gray:active {
    background: #EBEBF1;
    border-color: #D0D1D8;
    color: #38393F;
}

.btn-outline-gray:focus {
    background: #fff;
    color: #38393F;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1F3A81;
    outline: none;
}

.btn-outline-gray:disabled {
    border: 1px solid #D0D1D8;
    background: #EBEBF1;
}

.btn-outline-red {
    background: #ffffff;
    border: 1px solid #FDCDC5;
    color: #D7463E !important;
}

.btn-outline-red:hover {
    background: #FFF8F8;
    border-color: #FDCDC5;
    color: #D7463E;
}

.btn-outline-red:active {
    background: #FFEDEC;
    border-color: #FDCDC5;
    color: #D7463E;
}

.btn-outline-red:focus {
    background: #fff;
    color: #D7463E;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1F3A81;
    outline: none;
}

.btn-outline-red:disabled {
    border: 1px solid #D0D1D8;
    background: #EBEBF1;
}

.btn-outline-write {
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #fff;
}

/* **************************************** *
 * MODAL
 * **************************************** */
.ss-modal-wrap {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.ss-modal-wrap.active {
    display: flex;
}

.ss-modal-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.ss-modal-content {
    background-color: #fff;
    box-shadow: 0px 2px 16px 0px rgba(25, 26, 28, 0.20);
    border-radius: 8px;
    max-width: 90%;
    opacity: 0;
    padding: 20px;
    position: relative;
    transform: translateY(-50px);
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.ss-modal-wrap.active .ss-modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* 추가된 스타일: 애니메이션 초기화 */
.ss-modal-wrap.active .ss-modal-inner {
    animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

.ss-modal-header {
    align-items: center;
    border-bottom: 1px solid #EBEBF1;
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
}

.ss-modal-header button {
    background: none;
    border: 0;
    padding: 0;
}

.ss-modal-title {
    color: #191A1C;
    font-size: 18px;
    font-weight: 500;
}

.ss-modal-footer {
    border-top: 1px solid #EBEBF1;
    padding: 12px 16px;
}

.ss-modal-footer .ss-btn-group {
    justify-content: flex-end;
}

.ss-modal-footer button {
    height: 40px;
}

/* confirm-modal */
.confirm-modal .ss-modal-content {
    width: 400px;
    padding: 0;
}

.confirm-modal .ss-modal-body {
    padding: 40px 24px;
    text-align: left;
}

.confirm-modal .ss-modal-body p {
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
}

/* content-modal */
.content-modal .ss-modal-content {
    padding: 0;
    width: 640px;
}

.content-modal .ss-modal-body {
    padding: 24px;
}

/* full-screen-modal */
.full-screen-modal .ss-modal-content {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.full-screen-modal .ss-modal-header {
    border-bottom: 1px solid #D0D1D8;
    flex: 0 0 auto;
    height: 56px;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

.full-screen-modal .ss-modal-header button {
    position: absolute;
    right: 18px;
    top: 18px;
}

.full-screen-modal .ss-modal-body {
    height: 100%;
    overflow: auto;
}

.full-screen-modal .ss-modal-footer {
    border-top: 0;
    flex: 0 0 auto;
    height: 48px;
    padding: 0;
}

.full-screen-modal .ss-modal-footer button {
    border-radius: 0;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

@media (min-width:992px) {
    .full-screen-modal .ss-modal-content {
        border-radius: 8px;
        height: unset;
        max-width: 100%;
    }

    .full-screen-modal .ss-modal-header {
        justify-content: space-between;
    }


    .full-screen-modal .ss-modal-body {}

    .full-screen-modal .mo {
        display: none;
    }

    .full-screen-modal .pc {
        display: block;
    }

    .full-screen-modal .ss-modal-footer {
        border-top: 1px solid #ddd;
        height: 100%;
        padding: 12px 16px;
    }

    .full-screen-modal .ss-modal-footer button {
        border-radius: 4px;
    }
}

/* **************************************** *
 * container
 * **************************************** */
.container {
    padding-left: 20px;
    padding-right: 20px;
}

/* **************************************** *
 * Text
 * **************************************** */
h1.title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

h2.title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

h3.title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}


/* **************************************** *
 * Card
 * **************************************** */
.ss-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ss-card {
    background: #F6F6F9;
}

.ss-card-header {
    border-bottom: 2px solid #EBEBF1;
    padding: 20px 20px 16px 20px;
}

.ss-card-header h3 {
    align-items: center;
    color: #191A1C;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 12px;
}

.ss-card-header h3::before {
    background: #3B5AAB;
    border-radius: 2px;
    content: '';
    display: inline-block;
    height: 16px;
    width: 3px;
}

.ss-card-body {
    padding: 16px 20px 20px 20px;
}

.ss-card-body .dl-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ss-card-body dl {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ss-card-body dt {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.ss-card-body dt span {
    color: #FF6421;
    margin: 0 0 0 4px;
}

.ss-card-body dd {
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 100%;
}



@media (min-width: 992px) {
    .ss-card-wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ss-card {
        border-radius: 6px;
        background: #F6F6F9;
    }

    .ss-card-header {
        border-bottom: 2px solid #EBEBF1;
        padding: 20px 20px 16px 20px;
    }

    .ss-card-header h3 {
        align-items: center;
        color: #191A1C;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        gap: 12px;
    }

    .ss-card-header h3::before {
        background: #3B5AAB;
        border-radius: 2px;
        content: '';
        display: inline-block;
        height: 16px;
        width: 3px;
    }

    .ss-card-body {
        padding: 16px 20px 20px 20px;
    }

    .ss-card-body .dl-group {
        display: flex;
        flex-direction: column;
        gap: 12px
    }

    .ss-card-body dl {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 32px;
        gap: 8px;
    }

    .ss-card-body dt {
        color: #5C5D62;
        font-size: 13px;
        font-weight: 500;
        flex: 0 0 auto;
        width: 160px;
    }

    .ss-card-body dd {
        color: #191A1C;
        font-size: 14px;
        font-weight: 400;
    }
}

/* **************************************** *
 * input
 * **************************************** */
/* input text */
.ss-input-wrap {
    display: flex;
    gap: 20px;
}

.ss-input-group {
    display: flex;
    flex-direction: column;
}

.ss-input-area {
    align-items: center;
    display: flex;
    gap: 8px;
}

.ss-input-area span {
    color: #5C5D62;
}

.ss-input-area button {
    flex: 0 0 auto;
}

.ss-input-group label {
    color: #5C5D62;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px 0;
    text-align: left;
}

.ss-input-group label span {
    color: #FF6421;
    margin: 0 0 0 4px;
}

.ss-input-group input[type=text],
.ss-input-group input[type=password] {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 16px;
    transition: all .5s;
    width: 100%;
}

.ss-input-group input[type=text]::placeholder,
.ss-input-group input[type=password]::placeholder {
    color: #B0B0B7;
}

.ss-input-group input[type=text]:hover,
.ss-input-group input[type=password]:hover {
    border: 1px solid #3B5AAB;
    transition: border-color 0.3s ease;
}

.ss-input-group input[type=text]:focus,
.ss-input-group input[type=password]:focus {
    border: 1px solid #3B5AAB;
    box-shadow: 0 0 0 2px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.ss-input-group input[type=text]:disabled,
.ss-input-group input[type=password]:disabled {
    background: #EBEBF1;
    border: 1px solid #D0D1D8;
    color: #B0B0B7;
}

.ss-input-group.error input[type=text],
.ss-input-group.error input[type=password] {
    border: 1px solid #EF7068;
}

.ss-input-group.error input[type=text]:hover,
.ss-input-group.error input[type=text]:focus,
.ss-input-group.error input[type=password]:hover,
.ss-input-group.error input[type=password]:focus {
    border: 1px solid #EF7068;
    box-shadow: none;
}

.ss-input-group.error .error-msg {
    color: #EF7068;
    font-size: 12px;
    font-weight: 400;
    margin: 4px 0 0 0;
}

/* search */
.input-search {
    position: relative;
}

.input-search input[type=text] {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 16px;
    transition: all .5s;
    width: 100%;
}

.input-search input[type=text]::placeholder {
    color: #B0B0B7;
}

.input-search input[type=text]:hover {
    border: 1px solid #3B5AAB;
}

.input-search input[type=text]:active,
.input-search input[type=text]:focus {
    border: 1px solid #3B5AAB;
    box-shadow: 0 0 0 2px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.input-search button {
    background: none;
    border: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.input-search .i-clear {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 36px;
}

.input-search.md input[type=text] {
    font-size: 16px;
    height: 40px;
}

.input-search.md button {
    right: 16px;
}

.input-search.md .i-clear {
    height: 22px;
    right: 50px;
    width: 22px;
}

/* checkbox */
.check-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.check-group {
    align-items: center;
    display: flex;
}

.check-group input[type=checkbox] {
    display: none;
}

.check-group label {
    align-items: center;
    cursor: pointer;
    color: #191A1C;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    gap: 8px;
}

.check-group label .essential {
    color: #D7463E;
}

.check-group label .select {
    color: #828286;
}

.check-group label b {
    font-weight: 500;
}

.check-group label .underline {
    text-decoration: underline;
}

.check-group label::before {
    background: url(../img/ico/i-checkbox.png);
    background-size: cover;
    border-radius: 4px;
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    height: 18px;
    transition: box-shadow 0.3s ease;
    width: 18px;
}

.check-group input[type=checkbox]:checked+label::before {
    background: url(../img/ico/i-checkbox-checked.png);
    background-size: cover;
    border: 0;
}

.check-group input[type=checkbox]:hover+label::before,
.check-group input[type=checkbox]:focus+label::before {
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.check-group input[type=checkbox]:disabled+label::before,
.check-group input[type=checkbox]:disabled:hover+label::before {
    background: url(../img/ico/i-checkbox-disabled.png);
    background-size: cover;
    box-shadow: none;
}

.check-group input[type=checkbox]:disabled:checked+label::before {
    background: url(../img/ico/i-checkbox-checked-disabled.png);
    background-size: cover;
}

.check-group input.intermediate:checked+label::before {
    background: url(../img/ico/i-checkbox-checked-intermediate.png);
    background-size: cover;
}

.check-group input.intermediate:checked:disabled+label::before {
    background: url(../img/ico/i-checkbox-checked-intermediate-disabled.png);
    background-size: cover;
}

.check-group.type2 label {
    align-items: flex-start;
    gap: 0;
}

.check-group.type2 label::before {
    margin: 0 8px 0 0;
}


/* radio */
.radio-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.radio-group {
    align-items: center;
    display: flex;
}

.radio-group input[type=radio] {
    display: none;
}

.radio-group label {
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 8px;
}

.radio-group label::before {
    background: url(../img/ico/i-radio.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
}

.radio-group input[type=radio]:hover+label::before,
.radio-group input[type=radio]:focus+label::before {
    border-radius: 100px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.radio-group input:checked+label::before {
    background: url(../img/ico/i-radio-checked.png);
    background-size: cover;
}

.radio-group input:disabled+label::before {
    background: url(../img/ico/i-radio-disabled.png);
    background-size: cover;
}

.radio-group input:checked:disabled+label::before {
    background: url(../img/ico/i-radio-checked-disabled.png);
    background-size: cover;
}

.radio-group input:checked:hover+label::before,
.radio-group input:disabled:hover+label::before {
    box-shadow: none;
}

/* textarea */
.ss-input-group.textarea {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ss-input-group.textarea label {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.ss-input-group textarea {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: 140px;
    padding: 12px 16px;
    width: 100%;
}

.ss-input-group textarea:disabled {
    background: #F6F6F9;
    border: 1px solid #EBEBF1;
    color: #191A1C;
}

.ss-input-group textarea:focus {
    outline: none;
}

.ss-input-group textarea::placeholder {
    color: #B0B0B7;
}

/* input date */
.date-group {
    align-items: baseline;
    display: flex;
}

.date-group h2 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    flex: 0 0 auto;
    width: 104px;
}

.date-group .date-wrap {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 100%;
}

.date-group input[type="date"]::-webkit-calendar-picker-indicator,
.date-group input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

.date-group input[type=date] {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    height: 32px;
    padding: 0 12px 0 16px;
    position: relative;
    transition: all .5s;
    width: 100%;
}

.date-group input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../img/ico/i-datepicker.png) no-repeat right;
    background-size: 80%;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 16px;
    opacity: 1;
    width: 16px;
}

.date-group input[type=date]:hover {
    border: 1px solid #3B5AAB;
    transition: all .5s;
}

.date-group input[type=date]:focus {
    border: 1px solid #3B5AAB;
    box-shadow: 0 0 0 2px #3B5AAB;
    transition: box-shadow .5s;
}

/* input file */
.file-group {
    align-items: center;
    display: flex;
}

.file-group h2 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    flex: 0 0 auto;
    width: 104px;
}

.file-group input[type=file] {
    display: none;
}

.file-group label {
    align-items: center;
    background: #666;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    height: 32px;
    padding: 0 16px;
}

.file-group span {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 16px;
}

/* dropdown-group */
.dropdown-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-group h2 {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.dropdown-group .dropdown-list-wrap {
    position: relative;
    width: 100%;
}

.dropdown-group .dropdown-list-wrap .dropdown-button {
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 6px;
    color: #B0B0B7;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    height: 32px;
    padding: 0 16px;
    position: relative;
    width: 100%;
}

.dropdown-group .dropdown-list-wrap .dropdown-button .placeholder {
    background: none;
    color: #B0B0B7;
    font-size: 14px;
    opacity: 1;
}

.dropdown-group .dropdown-list-wrap .dropdown-button::after {
    background: url(../img/ico/i-dropdown-arrow-down.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 16px;
    position: absolute;
    transform: rotate(0);
    transition: all .5s;
    right: 12px;
    width: 16px;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.active::after {
    transform: rotate(-180deg);
    transition: all .5s;
}

.dropdown-group .dropdown-list-wrap .dropdown-button:hover {
    border: 1px solid #3B5AAB;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.active {
    border: 1px solid #3B5AAB;
    box-shadow: 0 0 0 2px #3B5AAB;
    transition: box-shadow 0.3s ease;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.disabled {
    background: #EBEBF1;
    border: 1px solid #D0D1D8;
}

.dropdown-group .dropdown-list-wrap .dropdown-button.disabled .placeholder {
    color: #B0B0B7;
}

.dropdown-group .dropdown-list-wrap .dropdown-list {
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.20);
    display: none;
    margin: 4px 0 0 0;
    position: absolute;
    padding: 4px;
    width: 100%;
    z-index: 1;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li {
    align-items: center;
    border-radius: 4px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 16px;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li:hover {
    background: #F2F6FB;
}

.dropdown-group .dropdown-list-wrap .dropdown-list li:active {
    background: #E5ECF6;
}

.dropdown-group .dropdown-list-wrap .dropdown-list hr {
    border: 1px solid #EBEBF1;
    margin: 4px 0;
}

/* type2 */
.dropdown-group.type2 .dropdown-list-wrap .dropdown-button {
    border: 1px solid #fff;
    transform: border .3s ease;
}

.dropdown-group.type2 .dropdown-list-wrap .dropdown-button:hover {
    border: 1px solid #D0D1D8;
    transform: border .3s ease;
}

.dropdown-group.type2 .dropdown-list-wrap .dropdown-button.active {
    box-shadow: none;
}


/* **************************************** *
 * tab
 * **************************************** */
.tabs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tab-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.tab-button {
    align-items: center;
    background: #EBEBF1;
    border-top: 2px solid #5C5D62;
    border-bottom: 1px solid #D0D1D8;
    color: #828286;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 44px;
    width: 50%;
}

.tab-button.active {
    background: #fff;
    border-color: #38393F;
    border-left: 1px solid #D0D1D8;
    border-right: 1px solid #D0D1D8;
    border-bottom: 0;
    color: #191A1C;
}

.tab-content {
    display: none;
}

.custom-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.custom-tab {
    align-items: center;
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 100px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 12px;
}

.custom-tab.selected {
    background: #E5ECF6;
    border-color: #3B5AAB;
    color: #2C478E;
}

@media (min-width: 992px) {
    .custom-tab {
        font-size: 16px;
        height: 40px;
        padding: 0 16px;
    }
}

/* **************************************** *
 * Header
 * **************************************** */
.ss-header {
    position: relative;
}

.ss-header-top {
    align-items: center;
    background: #2C478E;
    display: flex;
    height: 64px;
}

.ss-header-top .container {
    align-items: center;
    display: flex;
}

.ss-header-logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.ss-header-logo:hover,
.ss-header-logo:focus {
    color: #fff;
}

.ss-header-i {
    align-items: center;
    display: flex;
    gap: 8px;
    margin: 0 0 0 auto;
}

.ss-header-i li {
    padding: 8px;
}

.ss-header-i li:last-child {
    padding: 0;
}

.header-user-dropdown {
    position: relative;
    width: 100%;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-button {
    background: rgba(25, 26, 28, .4);
    border: 0;
    border-radius: 100px;
    height: auto;
    padding: 8px;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-button::after {
    display: none;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-button:hover {
    border: 0;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-button.active {
    border: 0;
    box-shadow: none;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-list {
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.20);
    display: none;
    position: absolute;
    padding: 4px;
    margin: 10px 0 0 0;
    right: -7px;
    width: 120px;
    z-index: 1000;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-list::before {
    background: url(../img/ico/i-trg-w.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 14px;
    position: absolute;
    top: -13px;
    right: 16px;
    width: 21px;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-list li {
    align-items: center;
    border-radius: 4px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 0 16px;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-list hr {
    border: 1px solid #EBEBF1;
    margin: 4px 0;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-list li:hover {
    background: #F2F6FB;
}

.header-user-dropdown .dropdown-list-wrap .dropdown-list li:active {
    background: #E5ECF6;
}

.header-user-dropdown .dropdown-info {
    background: #191A1C;
    border-radius: 4px;
    display: none;
    margin: 10px 0 0 0;
    min-width: 200px;
    padding: 8px 12px;
    position: absolute;
    right: -7px;
    z-index: 999;
}

.header-user-dropdown .dropdown-info::before {
    background: url(../img/ico/i-trg-b.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 14px;
    position: absolute;
    top: -13px;
    right: 16px;
    width: 21px;
}

.header-user-dropdown .dropdown-info p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.header-user-dropdown .dropdown-info h6 {
    color: #B0B0B7;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 2px 0 0 0;
}

.ss-header-nav {
    align-items: center;
    background: #1F3A81;
    display: flex;
    height: 48px;
}

.ss-header-nav .container {
    align-items: center;
    display: flex;
}

.ss-header-nav ul {
    display: flex;
    gap: 32px;
}

.ss-header-nav ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.ss-header-nav ul li a:hover,
.ss-header-nav ul li a:active,
.ss-header-nav ul li a:focus {
    border-bottom: 1px solid #fff;
}

@media (min-width: 576px) {
    .ss-header .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .ss-header .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .ss-header-nav {
        background: none;
        height: auto;
        margin: 0 0 0 80px;
    }

    .ss-header-nav ul {
        gap: 0;
    }

    .ss-header-nav .main-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .ss-header-nav .menu-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 64px;
        position: relative;
        padding: 0 20px;
    }

    .ss-header-nav .menu-item:hover>a {
        border-bottom: 1px solid #fff;
    }

    .ss-header-nav .menu-item:hover .depth-02 {
        display: block;
    }

    .ss-header-nav .depth-02 {
        display: none;
        position: absolute;
        left: 0;
        background-color: #fff;
        box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.05);
        z-index: 1;
        height: 492px;
        padding: 12px 0;
        top: 64px;
        width: 160px;
        z-index: 1000;
    }

    .ss-header-nav .depth-03 {
        border-left: 1px solid #EBEBF1;
        display: none;
        position: absolute;
        top: -12px;
        left: 160px;
        background-color: #fff;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
        z-index: 1;
        height: 492px;
        padding: 12px 0;
        width: 160px;
    }

    .ss-header-nav .depth {
        position: relative;
    }

    .ss-header-nav .depth a {
        align-items: center;
        color: #191A1C;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        height: 36px;
        padding: 0 20px;
    }

    .ss-header-nav .depth a:hover {
        background: #E5ECF6;
        color: #2C478E;
        font-weight: 600;
    }

    .ss-header-nav .depth-02 ul {
        flex-direction: column;
    }

    .ss-header-nav .depth-02 .depth:hover .depth-03 {
        display: block;
    }

    .ss-header-nav .depth-02>ul>li.depth:hover::after {
        background: url(../img/ico/i-chevron-right-b.png);
        background-size: cover;
        content: '';
        display: inline-block;
        height: 18px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
    }

    .ss-header-nav .depth-02>ul>li.depth:hover::after>.depth-03 {
        display: inline-block;
    }

    .ss-header-i {
        gap: 16px;
    }

    .ss-header-nav ul li a {
        font-size: 16px;
    }
}

.ss-header-search-wrap {
    background: #fff;
    display: none;
    height: calc(100vh - 112px);
    overflow: scroll;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.header-search-top {
    background: #F6F6F9;
    padding: 24px 20px;
}

.header-search-recent {
    border-bottom: 1px solid #EBEBF1;
    padding: 20px;
}

.header-search-recent .recent-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-search-recent h6 {
    align-items: center;
    color: #191A1C;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
}

.header-search-recent h6 a {
    color: #38393F;
    font-size: 14px;
    font-weight: 500;
}

.keyword-search-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.keyword-search-list li {
    align-items: center;
    border: 1px solid #D0D1D8;
    border-radius: 100px;
    color: #191A1C;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    gap: 4px;
    height: 32px;
    padding: 0 12px;
}

.keyword-search-list .btn-keyword-del {
    background: url(../img/ico/i-x-g.png);
    border: 0;
    background-size: cover;
    height: 16px;
    padding: 0;
    width: 16px;
}

.header-search-recent p {
    color: #828286;
    font-size: 16px;
    font-weight: 400;
}

.header-search-recent span {
    color: #828286;
    font-size: 13px;
    font-weight: 400;
}

.keyword-ranking {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.keyword-ranking li {
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    gap: 8px;
}

.keyword-ranking li span {
    color: #D7463E;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}

.btn-header-search-del {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    cursor: pointer;
    display: none;
    height: 40px;
    transition: opacity 0.3s ease;
    width: 40px;
}

@media (min-width: 576px) {
    .ss-header-search-wrap {
        overflow: auto;
    }

    .ss-header-search-wrap .input-search {
        margin: 0 auto;
        max-width: 680px;
    }

    .header-search-recent .recent-area {
        margin: 0 auto;
        max-width: 680px;
    }
}

@media (min-width: 992px) {
    .ss-header-wrap-bg {
        background: rgba(0, 0, 0, 0.4);
        display: none;
        height: calc(100vh - 64px);
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .ss-header-search-wrap {
        height: min-content;
        overflow: unset;
    }

    .header-search-top {
        padding: 32px 0;
    }

    .header-search-area {
        display: flex;
        max-width: 680px;
        margin: 0 auto;
        padding: 24px 0;
    }

    .header-search-recent {
        border-bottom: 0;
        padding: 0;
    }

    .header-search-recent:first-child {
        padding: 0 24px 0 0;
        width: 100%;
    }

    .header-search-recent:last-child {
        border-left: 1px solid #EBEBF1 !important;
        flex: 0 0 auto;
        padding: 0 0 0 32px;
        width: 270px;
    }

    .header-search-recent h6 {
        font-size: 18px;
    }

    .keyword-search-list {
        overflow-y: scroll;
        max-height: 336px;
    }

    .keyword-search-list::-webkit-scrollbar {
        background: none;
        width: 8px;
    }

    .keyword-search-list::-webkit-scrollbar-thumb {
        background: #D0D1D8;
        border-radius: 100px;
    }

    .keyword-search-list li {
        font-size: 16px;
        height: 40px;
        padding: 0 16px;
    }

    .keyword-ranking li {
        font-size: 16px;
        line-height: 1.5;
    }
}

/* 검색하였을 경우 */
.header-search-result-wrap {
    padding: 20px 0;
}

.header-search-result-category {
    align-items: center;
    display: flex;
    gap: 8px;
    overflow: auto;
    margin: 0 0 20px 0;
    padding: 0 20px;
}

.header-search-result-category::-webkit-scrollbar {
    display: none;
}

.header-search-result-category li {
    align-items: center;
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 100px;
    color: #191A1C;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    flex: 0 0 auto;
    cursor: pointer;
    height: 32px;
    padding: 0 12px;
}

.header-search-result-category li.active {
    background: #E5ECF6;
    border: 1px solid #3B5AAB;
    color: #2C478E;
}

.header-search-product-wrap {
    padding: 0 24px;
}

.header-search-product-wrap .row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}

@media (min-width: 576px) {
    .header-search-result-category {
        justify-content: center;
    }

    .header-search-product-wrap {
        margin: 0 auto;
        max-width: 884px;
    }

    .header-search-product-wrap .row .col-6 {
        width: 25%;
    }
}

@media (min-width: 768px) {
    .header-search-product-wrap .row .col-6 {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .header-search-result-category li {
        font-size: 16px;
        height: 40px;
        padding: 0 16px;
    }

    .header-search-product-wrap {
        overflow-y: scroll;
        max-height: 654px;
        max-width: 760px;
    }

    .header-search-product-wrap::-webkit-scrollbar {
        background: none;
        width: 8px;
    }

    .header-search-product-wrap::-webkit-scrollbar-thumb {
        background: #D0D1D8;
        border-radius: 100px;
    }

    .header-search-product-wrap .row .col-6 {
        width: 33.3%;
    }

    .header-search-product-wrap .product-img {
        height: 210px;
        margin: 0 0 8px 0;
    }

    .header-search-product-wrap .product-tag li {
        font-size: 13px;
    }

    .header-search-product-wrap .product-name,
    .header-search-product-wrap .product-price {
        font-size: 18px;
    }
}

@media (min-width: 1320px) {
    .header-search-product-wrap {
        max-width: 1280px;
    }

    .header-search-product-wrap .row .col-6 {
        width: 20%;
    }
}

/* 검색 결과가 없을 경우 */
.header-search-result-none {
    margin: 80px 0 0 0;
    text-align: center;
}

.header-search-result-none i {
    height: 72px;
    width: 72px;
}

.header-search-result-none p {
    color: #B0B0B7;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
}

.header-search-result-none p span {
    color: #2C478E;
}

@media (min-width: 992px) {
    .header-search-result-none {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 420px;
        justify-content: center;
        margin: 0;
    }
}

/* **************************************** *
 * subheader
 * **************************************** */
.sub-header {
    align-items: center;
    border-bottom: 1px solid #D0D1D8;
    display: flex;
    gap: 8px;
    height: 56px;
    padding: 0 18px;
}

.sub-header h1 {
    color: #191A1C;
    font-size: 18px;
    font-weight: 500;
}

/* **************************************** *
 * footer
 * **************************************** */
.ss-footer {
    background: #38393F;
    padding: 48px 0 36px 0;
}

.ss-footer .container {
    max-width: 430px;
}

.ss-footer h2 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.ss-footer p {
    border: 1px solid #5C5D62;
    margin: 20px 0;
    padding: 12px 0;
    text-align: center;
}

.ss-footer p span {
    color: #737485;
    font-size: 13px;
}

.ss-footer ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0 0 20px 0;
}

.ss-footer ul li a {
    color: #fff;
    font-size: 14px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-info p {
    border: 0;
    color: #737485;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.footer-ico {
    gap: 12px !important;
    margin: 20px 0 16px 0 !important;
}

.footer-ico li a {
    align-items: center;
    display: flex;
}

.ss-footer h6 {
    color: #737485;
    font-size: 11px;
    text-align: center;
}

@media (min-width: 992px) {
    .ss-footer {
        padding: 28px 0 40px 0;
    }


    .ss-footer .container {
        margin: 0 auto;
        max-width: 1164px;
    }

    .ss-footer .col-4 {
        width: 40%;
    }

    .ss-footer .col-2 {
        width: 20%;
    }

    .ss-footer h2 {
        text-align: left;
    }

    .ss-footer p {
        border: 0;
        color: #737485;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        margin: 16px 0 0 0;
        padding: 12px 0;
        text-align: left;
    }

    .ss-footer ul {
        align-items: center;
        height: 40px;
        gap: 16px;
        justify-content: flex-start;
        margin: 0 0 8px 0;
    }

    .ss-footer ul li a {
        font-size: 15px;
    }

    .footer-desc {
        align-items: flex-start !important;
        flex-direction: column;
        height: auto !important;
        gap: 6px !important;
        margin: 0 0 16px 0 !important;
        text-align: left;
    }

    .footer-desc li {
        color: #737485;
        font-size: 12px;
        display: flex;
    }

    .ss-footer .service-check {
        color: #7C9CDB;
        font-size: 12px;
        text-decoration: underline;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin: 16px 0;
    }

    .footer-info p {
        border: 0;
        color: #737485;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .footer-ico {
        justify-content: flex-start !important;
        height: auto !important;
        gap: 12px !important;
        margin: 0 0 12px 0 !important;
    }

    .ss-footer h6 {
        text-align: left;
    }

    .ss-footer h3 {
        align-items: center;
        color: #FFFFFF;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        height: 40px;
    }

    .ss-footer h3 button {
        background: #3B5AAB;
        border: 0;
        font-size: 14px;
        color: #fff;
        height: 26px;
        padding: 0 20px;
    }

    .ss-footer .app-info {
        margin: 8px 0 0 0;
        padding: 0;
    }

}

/* **************************************** *
 * pc & mobile
 * **************************************** */
.pc {
    display: none;
}

.mo {
    display: block;
}

.mo.flex {
    display: flex;
}

@media (min-width: 992px) {
    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    .mo.flex {
        display: none;
    }
}

/* **************************************** *
 * table
 * **************************************** */
.table-top {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 16px 0;
}

.basic-table {
    border-collapse: collapse;
    border-left: 0;
    border-right: 0;
    text-align: center;
    width: 100%;
}

.basic-table thead tr th {
    background: #1C2C49;
    border: 1px solid #3E4B64;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 56px;
    position: sticky;
    top: 0;
}

.basic-table.type2 thead tr th,
.basic-table.type3 thead tr th {
    position: static;
}

.basic-table.type2 thead tr th {
    border: 0;
    border-bottom: 1px solid #ddd;
    ;
}

.basic-table tbody tr td {
    border: 1px solid #ddd;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    height: 56px;
}

.basic-table.type2 tbody tr td {
    border: 0;
    border-bottom: 1px solid #ddd;
    text-align: -webkit-center;
}

.basic-table thead tr th:last-child,
.basic-table tbody tr td:last-child {
    border-right: 0;
}

.basic-table thead tr th:first-child,
.basic-table tbody tr td:first-child {
    border-left: 0;
}

.basic-table tbody tr.selected {
    background: #EFF6FF;
}

.basic-table.v-table {
    border-top: 1px solid #ddd;
}

.basic-table.v-table tr th {
    border-bottom: 1px solid #ddd;
}

.basic-table.v-table tr th {
    background: #1C2C49;
    border-bottom: 1px solid #3E4B64;
    color: #fff;
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w-64 {
    width: 64px;
}

.scroll-y {
    overflow-y: scroll;
}

.scroll-y::-webkit-scrollbar {
    background: none;
    width: 8px;
}

.scroll-y::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 100px;
}

.h-392 {
    max-height: 393px;
}

.h-284 {
    max-height: 284px;
}

.circle-group {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.circle-group li span {
    background: #ddd;
    border-radius: 100px;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.circle-group li span.blue {
    background: #004F9D;
}

.circle-group li span.red {
    background: #E34140;
}

/* **************************************** *
 * pagination
 * **************************************** */
.pagination {
    margin: 8px 0 0 0;
    justify-content: center;
}

.pagination ul {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.pagination ul li a {
    align-items: center;
    border-radius: 4px;
    color: #5C5D62;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;
}

.pagination ul li.active a {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(25, 26, 28, 0.20);
    color: #2C478E;
    font-weight: 600;
}

.pagination ul li.prev {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

@media (min-width: 992px) {
    .pagination {
        margin: 24px 0 0 0;
    }

    .pagination ul li a {
        font-size: 16px;
        height: 36px;
        width: 36px;
    }
}

/* **************************************** *
 * depth
 * **************************************** */
.depth-group ul {
    align-items: center;
    display: flex;
    gap: 8px;
}

.depth-group ul li {
    align-items: center;
    display: flex;
}

.depth-group ul li a {
    align-items: center;
    color: #828286;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.depth-group ul li:last-child a {
    color: #38393F;
    font-size: 12px;
    font-weight: 600;
}

/* **************************************** *
 * product
 * **************************************** */
.product-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-img {
    border-radius: 12px;
    height: 142px;
    position: relative;
    width: 100%;
}

.product-img .ranking {
    bottom: 0;
    background: url(../img/ico/i-trash-b.png);
    height: 58px;
    position: absolute;
    left: 0;
    width: 58px;
}

.product-img .ranking span {
    bottom: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    left: 12px;
}

.product-tag {
    display: flex;
    gap: 8px;
}

.product-tag li {
    background: #EBEBF1;
    border-radius: 2px;
    color: #5C5D62;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 4px;
}

.product-tag li.mint {
    background: #C1FCFF;
    color: #436E77;
}

.product-name {
    color: #191A1C;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 500;
    max-height: 45px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.product-price {
    color: #2C478E;
    font-size: 16px;
    font-weight: 600;
}

.product-group.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    padding: 12px 0;
}

.product-group.row .product-img {
    border-radius: 12px;
    flex: 0 0 auto;
    height: 112px;
    position: relative;
    width: 140px;
}

.product-group.row .product-info {
    display: flex;
    flex: 1%;
    flex-direction: column;
    gap: 8px;
    width: auto;
}

.product-group.row .product-price {
    font-size: 18px;
    margin: auto 0 0 0;
}

@media (min-width: 992px) {
    .product-tag li {
        font-size: 13px;
    }
}

/* toggle modal */
.popup-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
}

.popup-content {
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 28px 20px 20px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.popup-content .ss-btn-group {
    margin: 32px 0 0 0;
}

.popup-content button {
    flex: 1%;
}

.popup-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.selected-group {
    display: flex;
    flex-direction: column;
}

.selected-group h2 {
    color: #5C5D62;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 16px 0;
}

.selected-group h2 span {
    color: #828286;
    font-weight: 400;
    margin: 0 0 0 4px;
}

.selected-list {
    display: inline-flex;
    gap: 8px;
}

.selected-check {
    flex: 1%;
}

.selected-check input {
    display: none;
}

.selected-check label {
    align-items: center;
    background: #fff;
    border: 1px solid #D0D1D8;
    border-radius: 100px;
    color: #191A1C;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 100%;
}

.selected-check input:checked+label {
    background: #E5ECF6;
    border-color: #3B5AAB;
    color: #2C478E;
}

.selected-check input:disabled+label {
    background: #EBEBF1;
    border-color: #EBEBF1;
    color: #B0B0B7;
}

.selected-list.type2 {
    flex-wrap: wrap;
}

.selected-check.type2 {
    flex: 30%;
}

.selected-check.type3 {
    flex: 0 0 auto;
    width: calc(25% - 6px);
}

.selected-check.type4 {
    flex: 0 0 auto;
    width: calc(50% - 6px);
}

.selected-group hr {
    background: #EBEBF1;
}