@charset "utf-8";

.ico {
    background-size: cover !important;
    display: inline-block;
}

.i-search-w {
    background: url(../img/ico/i-search-w.png);
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.i-cart-w {
    background: url(../img/ico/i-cart-w.png);
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.i-user-w {
    background: url(../img/ico/i-user-w.png);
    height: 24px;
    width: 24px;
}

.i-bag {
    background: url(../img/ico/i-bag.png);
    height: 72px;
    width: 72px;
}

.i-my-g {
    background: url(../img/ico/i-my-g.png);
    height: 20px;
    width: 20px;
}

.i-list-g {
    background: url(../img/ico/i-list-g.png);
    height: 20px;
    width: 20px;
}

.i-msg-g {
    background: url(../img/ico/i-msg-g.png);
    height: 20px;
    width: 20px;
}

.i-help-g {
    background: url(../img/ico/i-help-g.png);
    height: 20px;
    width: 20px;
}

.i-home {
    background: url(../img/ico/i-home-g.png);
    height: 16px;
    width: 16px;
}

.i-chevron-right {
    background: url(../img/ico/i-chevron-right-g.png);
    height: 16px;
    width: 16px;
}

.i-edit {
    background: url(../img/ico/i-edit.png);
    height: 16px;
    width: 16px;
}

.i-search {
    background: url(../img/ico/i-search.png);
    height: 16px;
    width: 16px;
}

.i-x-g {
    background: url(../img/ico/i-x-g.png);
    height: 18px;
    width: 18px;
}

.i-arrow-left {
    background: url(../img/ico/i-arrow-left.png);
    height: 24px;
    width: 24px;
}

.i-arrow-right {
    background: url(../img/ico/i-arrow-right.png);
    height: 24px;
    width: 24px;
}

.i-modal-close {
    background: url(../img/ico/i-modal-close.png);
    height: 20px;
    width: 20px;
}

.i-information {
    background: url(../img/ico/i-information.png);
    height: 72px;
    width: 72px;
}

.i-arrow-rotate-right {
    background: url(../img/ico/i-arrow-rotate-right.png);
    height: 16px;
    width: 16px;
}

.i-clear {
    background: url(../img/ico/i-x-circle.png);
    height: 16px;
    width: 16px;
}

.i-search-b {
    background: url(../img/ico/i-search-b.png);
    height: 22px;
    width: 22px;
}

.i-x-w {
    background: url(../img/ico/i-x-w.png);
    height: 24px;
    width: 24px;
}

.i-blog {
    background: url(../img/ico/i-blog.png);
    height: 26px;
    width: 26px;
}

.i-instar {
    background: url(../img/ico/i-instar.png);
    height: 26px;
    width: 26px;
}

.i-facebook {
    background: url(../img/ico/i-facebook.png);
    height: 26px;
    width: 26px;
}

.i-down {
    background: url(../img/ico/i-dropdown-arrow-down.png);
    height: 20px;
    width: 20px;
}

.i-left {
    background: url(../img/ico/i-left.png);
    height: 18px;
    width: 18px;
}

.i-play {
    background: url(../img/ico/i-play.png);
    cursor: pointer;
    height: 26px;
    width: 26px;
}

.i-down-b {
    background: url(../img/ico/i-chevron-down-b.png);
    height: 18px;
    width: 18px;
}

.i-top-b {
    background: url(../img/ico/i-chevron-top-b.png);
    height: 18px;
    width: 18px;
}

.i-information-g {
    background: url(../img/ico/i-information-g.png);
    height: 18px;
    width: 18px;
}

.i-user-b {
    background: url(../img/ico/i-my-b.png);
    height: 20px;
    width: 20px;
}

.i-back {
    background: url(../img/ico/i-back.png);
    height: 24px;
    width: 24px;
}

.i-msg-none {
    background: url(../img/ico/i-msg-none.png);
    height: 72px;
    width: 72px;
}

.i-lock {
    background: url(../img/ico/i-lock.png);
    height: 18px;
    width: 18px;
}

.i-lock-open {
    background: url(../img/ico/i-lock-open.png);
    height: 18px;
    width: 18px;
}

.i-file-none {
    background: url(../img/ico/i-file-none.png);
    height: 72px;
    width: 72px;
}

.i-trash {
    background: url(../img/ico/i-trash.png);
    height: 16px;
    width: 16px;
}

.i-right-g {
    background: url(../img/ico/i-right-g.png);
    height: 20px;
    width: 20px;
}

.i-sign-complete {
    background: url(../img/ico/i-sign-complete.png);
    height: 72px;
    width: 72px;
}

.i-package {
    background: url(../img/ico/i-package.png);
    height: 20px;
    width: 20px;
}

.i-bar {
    background: url(../img/ico/i-bar.png);
    height: 20px;
    width: 20px;
}

.i-calculator {
    background: url(../img/ico/i-calculator.png);
    height: 20px;
    width: 20px;
}

.i-user-profile {
    background: url(../img/ico/i-user-profile.png);
    height: 20px;
    width: 20px;
}

.i-setting {
    background: url(../img/ico/i-setting.png);
    height: 20px;
    width: 20px;
}

.i-help-circle {
    background: url(../img/ico/i-help-circle.png);
    height: 20px;
    width: 20px;
}

.i-review {
    background: url(../img/ico/i-msg-g.png);
    height: 20px;
    width: 20px;
}

.i-mart {
    background: url(../img/ico/i-mart.png);
    height: 20px;
    width: 20px;
}

.i-notice {
    background: url(../img/ico/i-notice.png);
    height: 20px;
    width: 20px;
}

.i-set {
    background: url(../img/ico/i-set.png);
    height: 20px;
    width: 20px;
}

.i-admin-user {
    background: url(../img/ico/i-admin-user.png);
    height: 20px;
    width: 20px;
}

.i-download {
    background: url(../img/ico/i-download.png);
    height: 18px;
    width: 18px;
}